* {
    background-color: #2c2c32;
    color: white;
}

textArea {
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 5px rgba(255,255,255,.4);
    border-bottom: 1px solid transparent;
}

textArea:focus {
    box-shadow: 0 2px 3px rgba(255,255,255,.4);
    border-bottom: 1px solid #2080d4;
}

button {
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);

    background: #333333;
    border: 1px solid #8cc0ed;
    color: #8cc0ed;
}

button:hover, button:focus {
    background: rgba(32, 128, 212, 0.3);
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.6);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    outline: 1px solid slategrey;
  }

