body {
    background-color: white;
    color: #333333;
}

.page-container .header {
    border-bottom: 1px solid #2080d4;
}

#brand-area #project-info a {
    color:#333333;
}

.page-container .container #adbg {
    box-shadow: 4px 4px 4px 0 #ffffff inset, -4px -4px 4px 0 #ffffff inset;
}

/* Theme picker */
.theme-picker input[type="radio"]:checked+label {
    background-color: #2080d4;
    color: white;
}

.theme-picker label {
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

    color: #2080d4;
    border: 1px solid #2080d4;
}

.theme-picker label:hover {
    background: #2080d44d;
}

textArea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    border-bottom: 1px solid transparent;
}

textArea:focus {
    box-shadow: 0 2px 3px rgba(32, 128, 212, .4);
    border-bottom: 1px solid #2080d4;
}


button {
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

    background: white;
    border: 1px solid #2080d4;
    color: #2080d4;
}

button:hover, button:focus {
    background: #2080d41a;
}

button:hover[disabled], button:focus[disabled] {
    border: 1px solid #999999;
    color: #666666;
    background-color: transparent;
}


textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #3333;
    outline: 1px solid slategrey;
}

code {
    border: 1px solid #336B87;
    background-color: #e8f0ff;
}

.result {
    border: #336B87 solid 1px;
    background-color: #f0f0f0;
}

.description-text {
    color: #333333;
}

.frame-class-name {
    color: #996800;
}

.frame-class-generic-parameter-list {
    color: #a37000;
}

.frame-method-name {
    color: #2271B1;
}

.frame-method-generic-parameters{
    color: #5f4100;
}

.frame-parameter-list {
    color: #362400;
}

.frame-file-path {
    color: #336B87;
}

.frame-file-line {
    color: #D63638;
}

.frame-parameter-type {
    color: #043959;
}

.frame-parameter-name {
    color: #362400;
}