* {
    background-color: white;
    color: #333333;
}

textArea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
    border-bottom: 1px solid transparent;
}

textArea:focus {
    box-shadow: 0 2px 3px rgba(32,128,212,.4);
    border-bottom: 1px solid #2080d4;
}


button {
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);

    background: white;
    border: 1px solid #2080d4;
    color: #2080d4;
}

button:hover, #button:focus {
    background: rgba(32, 128, 212, 0.1);
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
    background-color: #3333;
    outline: 1px solid slategrey;
  }