body {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

text-area {
    font-family: Verdana,sans-serif;
}

#callstackinput {
    width: 95%;
    min-width: 500px;
    height: 60px;
}

#result {
    margin-top: 24px;
    padding: 12px;
    border: #043959 1px solid;
    background-color: #E3E3E3;
}

.description-text {
    color: #333333;
}

.frame-class-name {
    color: #996800;
}

.frame-method-name {
    font-weight: bold;
    color: #2271B1;
}

.frame-parameter-list {
    color: #362400;
}

.frame-file-path {
    color: #336B87;
}

.frame-file-line {
    color: #D63638;
}

.frame-parameter-type {
    color: #043959 ;
    font-weight: bold;
}